


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>邮件分类系统</title>
<meta http-equiv="pragma" content="no-cache">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<link rel="stylesheet" type="text/css"
			href="/static/css/indexstyle.css">	
</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header"></div>
			<div id="user-wrapper">  
				<span id="user-name"> {{username}}</span> <span id="exit"> <a
					href="/logout/"> 退出 </a>
				</span>
			</div>
		</div>
		<div id="content-wrapper">
			<div id="left">
				<div>
					<ul id="nav">
						<li><a href="/write/" class="button" target="10-20"
							id="add">写信</a></li>
						<li><a href="/recieve/" target="10-20" class="button"
							id="inbox">收件箱</a></li>
						<li><a href="/send/" target="10-20" class="button"
							id="outbox">已发送</a></li>
						<li><a href="/biz/" target="10-20" class="button" id="biz">商业</a></li>
						<li><a href="/pe/" target="10-20" class="button" id="pe">体育</a></li>
						<li><a href="/world/" target="10-20" class="button"
							id="world">健康</a></li>
						<li><a href="/rubbish/" target="10-20" class="button"
							id="rubbish">旅游</a></li>
					</ul>
				</div>
			</div>
			<div id="right">



				<style type="text/css">
body {
	background: transparent;
	font-size: 14px;
}
</style>
				<div class="include-div">
					<div class="footprint" id="inbox-footprint">收件箱</div>
				</div>

				<div id="inbox-wrapper">




					<table>
						<tr class="tr-title">
							<th class="sender">发件人</th>
							<th class="subject">主题</th>
							<th class="delete">删除</th>
						</tr>


						{% for email in emails%}
                            
                                <tr >
								<td class="sender">{{email.sender}}</td>
								<td class="subject"><a href="{% url 'viewContext' email.id %}"> {{email.theme}}</a></td>
								<td class="delete"><a href= "{% url 'deleReceiverEail' email.id %}">删除</a></td> 
								{% endfor %}
					</table>

					<div class="pagebar-wrapper"></div>
				</div>
</body>
</html>

</div>
<div class="clear"></div>
</div>
<div id="footer-wrapper">
	<div id="footer">&copy;追梦小组出品</div>
</div>
</div>








